@import '@styles/variables';

.width-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.min-w-150 {
  min-width: 150px;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.cursor-pointer {
  cursor: pointer;
}
